body {
    background-color:#ffd8b5;
    background-image: url(https://i.gifer.com/2iiB.gif);
}

div.transbox {
    margin: 20px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.5;
  }

h1 {
    font-family: 'Dawning of a New Day';
    font-size: 70px;
}

p {
    font-family: 'Montserrat';
    font-size: 22px;
}

img {
    max-width: 250px;
}

h4 {
font-family: 'Raleway';
font-size: 12px;;
}

div.button {
    width: 70px;
    height: 70px;
    margin: 2px;
    border-radius: 10px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.5;
    display: inline-block;