body {
    background-color: #ded1f0;
    background-image: url(https://i.gifer.com/3sjl.gif);
}

.container {
    width: 600px;
    height: 400px;
    background: white;
    border-radius: 20px;
    margin: 50px auto;
}

h1 {
    color: #d1a3ff;
}

h3 {
color: #826aa3;
}

h5 { 
    color:#826aa3;
}

.umbreon {
    animation-name: moveRight;
    animation-duration: 5s;
    animation-delay: .1s;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    animation-timing-function: linear;
  }
  
  @keyframes moveRight {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(400px);
    }
  