body {
    background-color: #ded1f0;
    background-image: url(https://i.gifer.com/3sjl.gif);
}
h1 {
    color: red;
}
.umbreon {
    animation-name: moveRight;
    animation-duration: 2s;
    animation-delay: .1s;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    animation-timing-function: linear;
  }
  
  @keyframes moveRight {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(650px);
    }
  }