body {
    background-color: #d8e3eb;
    background-image: url(https://media3.giphy.com/media/tIHktzgRi8yjIplFVI/giphy.gif?cid=ecf05e47t06254h1t2o9c3q40jlhb3ya9mz4zhw7c90gq5rw&rid=giphy.gif)
}

img {
    height: 200px
}

.modal {
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    font-family: "Caveat";
    font-size: 22px;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #ffc8bf;
    background-image: url(https://media1.giphy.com/media/PlyibXHFkQUF31Mx3X/giphy.gif);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: rgb(53, 35, 35);
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }