body {
    background-color: #ded1f0;
    background-image: url(https://i.gifer.com/3sjl.gif);
}

.container {
    width: 400px;
    height: 400px;
    background: white;
    border-radius: 20px;
    margin: 50px auto;
}

h4 {
    color: #c7abd4;
}

img {
    animation-name: spin-n-move;
    animation-duration: 8s;
    animation-delay: .1s;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  @keyframes spin-n-move {
    0% {
      transform: translate(0px, 40px) rotateZ(0deg);
    }
    10% {
      transform: translate(60px, 20px) rotateZ(0deg);
    }
    50% {
      transform: translate(20px, 10px) rotateZ(0deg);
    }
    100% {
      transform: translate(80px,-30px) rotateZ(0deg);
    }