body {
    background-color:#eddcd3;
    background-image: url(https://i.gifer.com/3sjl.gif);
    color: #7a6a61
}

header {
    padding: 5vmin 1rem;
    background-color:#fff7f8;
  }

  h1 {
      font-size: 60px;
  }

  p {
      font-size: 30px;
  }