body {
    background-color:#eddcd3;
    background-image: url(https://i.gifer.com/3sjl.gif);
    color: #7a6a61
}
a {
color:  #7a6a61;
margin: 40px;
display: inline-block;
}

img {
max-width: 100px;
}