body {
    background-color:#eddcd3;
    background-image: url(https://i.gifer.com/3sjl.gif);
    color: #7a6a61
}

h1:hover {
color: pink;
background-color: white;
}

p:hover {
    color: pink;
background-color: white;
}