body {
    background-color: #ffe6ed;
  }

  .phone {
        border: 2px solid black;
        border-radius: 15px;
        height: 700px;
        width: 500px;
        background-image: url("https://img.artpal.com/626621/4-19-8-2-11-18-31m.jpg");
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
      
      .box1 {
        width: 100px;
        height: 100px;
        background: #c2a9b6;
        margin: 2px;
        border-radius: 10px
      }
      .box2 {
        width: 100px;
        height: 100px;
        background: #e0bfc8;
        margin: 2px;
        border-radius: 10px
      }
      .box3 {
        width: 100px;
        height: 100px;
        background: #4d4d4d;
        margin: 2px;
        border-radius: 10px;
        flex-direction: row;
      }
      .box4 {
        width: 100px;
        height: 100px;
        background: #edadbf;
        margin: 2px;
        border-radius: 10px
        
      }
      .box5 {
        width: 100px;
        height: 100px;
        background:#786d6d;
        margin: 2px;
        flex-direction: row;
        border-radius: 10px
      }
      .box6 {
        width: 100px;
        height: 100px;
        background: #c9afaf;
        margin: 2px;
        border-radius: 10px
      }
      .box7 {
        width: 100px;
        height: 100px;
        background:#ebdddf;
        margin: 2px;
        border-radius: 10px
      }
      .box8 {
        width: 100px;
        height: 100px;
        background: #bfa6aa;
        margin: 2px;
        border-radius: 10px
      }

      
  }