body {
    background-color:#eddcd3;
    color: #7a6a61
}

h1 {
    color: color: #7a6a61;
}

@media only screen and (max-width: 1000px) {
    body {
      background-color: rgb(224, 197, 212);
    }
    h1 {
        color: #753D47;
    }
  }