body {
    background-color:#eddcd3;
    color: #7a6a61
}

h1 {
    color: color: #7a6a61;
}

h4 {
    font-size: 30px;
}

@media only screen and (max-width: 1000px) {
    body {
      background-color: rgb(224, 197, 212);
    }
    h1 {
        color: #753D47;
    }
    h4 {
        color: #6e4552;
        font-size: 15px;
    }

    p {
        color: #6e4552;
        font-size: 13px; 
    }

  }